body {
    margin: 0;
    background-color: aqua;
    overflow: hidden;
}

.curtain {
    width: 100%;
    height: 50vh;
}

.top {
    background-color: lawngreen;
    animation-name: down;
    animation-duration: 3s;
}

.bottom {
    background-color: orange;
    animation-name: up;
    animation-duration: 3s;
}

@keyframes down {
   from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}